/.settings
.classpath
.DS_Store
/target
/src/META-INF/*
/bin
/AMPL.run
/data.dat
/log.tmp
/modelbursting.mod
/rez.out
/bash.run
/bashAMPL.run
/bashCMPL.run
/CMPL.run
/data.cdat
/modelbursting.cmpl
/solution.log
/solution.sol
